@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 61px 15px;
  font-family: "Poppins", sans-serif;
}
a {
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 3%;
}
.container {
  max-width: 1420px;
  margin: 0 auto;
}
/* ........HEADER.......... */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.header-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.logo {
  font-size: 28px;
  color: #c7c7c7;
}
.header-button {
  padding: 18px;
  background-color: #fd6f00;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #ffffff;
}
.header-li-items {
  position: relative;
}
.header-li-items::after {
  content: "";
  bottom: -8px;
  left: 0;
  height: 2px;
  background-color: #ffffff;
  width: 0%;
  transition: 0.3s;
  position: absolute;
}

.header-li-items:hover::after {
  width: 100%;
}
