@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 61px 15px;
  font-family: "Poppins", sans-serif;
}
a {
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 3%;
}
.container {
  max-width: 1420px;
  margin: 0 auto;
  border: 1px solid #e65c00;
}
/* ........HEADER.......... */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.header-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.logo {
  font-size: 28px;
  color: #c7c7c7;
}
.header-button {
  padding: 18px;
  background-color: #fd6f00;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #ffffff;
}
.header-li-items {
  position: relative;
}
.header-li-items::after {
  content: "";
  bottom: -8px;
  left: 0;
  height: 2px;
  background-color: #ffffff;
  width: 0%;
  transition: 0.3s;
  position: absolute;
}

.header-li-items:hover::after {
  width: 100%;
}

/* ........Section_main.......... */
.hero-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 120px;
}
.hero-text {
  border: 1px solid #00e636;
  max-width: 600px;
}

.greeting {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.name {
  color: #fd6f00;
  font-size: 32px;
  font-weight: 600;
}

.title {
  font-size: 100px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 25px;
}

.description {
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 30px;
  line-height: 110%;
  opacity: 0.9;
}

.btn-hire {
  background-color: #6d3914;
  color: white;
  padding: 17px 52px;
  font-size: 21px;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-hire:hover {
  background-color: #fd6f00;
  transform: translateY(-2px);
}

/* Image & Social Styling */
.hero-visual {
  max-width: 500px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00e636;
}

.image-circle {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  scale: calc(1.12);
}

/* ........Section About Me .......... */
.section-about-me {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 100px;
}

.div-about-me {
  max-width: 700px;
  padding: 40px;
}

h2 {
  font-size: 65px;
  margin-bottom: 20px;
  font-weight: 600;
}

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.skill-item label {
  display: block;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #edecec;
  border-radius: 5px;
}

.progress-fill {
  height: 100%;
  background-color: #fd6f00;
  border-radius: 5px 0 0 5px;
}

.progress-thumb {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  background-color: #edecec;
  border: 3px solid #fd6f00;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* ........Section Services .......... */
.section-services {
  margin-top: 100px;
}

.services-header h2 {
  text-align: center;
  margin-bottom: 30px;
}

.services-header p {
  text-align: center;
  margin-bottom: 60px;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

/* Card Styles */
.service-card {
  background-color: #f8f8f8;
  color: #000000;
  flex: 1;
  min-width: 260px;
  max-width: 330px;
  padding: 50px 25px;
  border-radius: 14px;
  text-align: left;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}

.icon-box {
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 600;
}

.service-card p {
  font-size: 18px;
  color: #000000;
  opacity: 0.9;
  line-height: 1.3;
}
